<!DOCTYPE html>
<html>
<head>
    <title>File d'attente</title>
</head>
<body>
    <h1>Entrez une musique</h1>
    <form action="/predict" method="post">
    <input type="text" name="musique" placeholder="Nom de la musique">
    <input type="submit" value="Envoyer">

    <h1>File d'attente</h1>
    <p>Votre position dans la file d'attente : <span id="position"></span></p>
    <p>Résultat de la prédiction : <span id="result"></span></p>
    <script src="//code.jquery.com/jquery-1.11.1.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('position', function(data) {
            // Mettre à jour la position du client
            $('#position').html(data.position);
            console.log(data.position);
        });
        socket.on('prediction', function(data) {
            // Mettre à jour le résultat de la prédiction
            $('#result').html(data.prediction);
        });
    </script>
</body>
</html>

